<div class="video_background">
  <!-- Adds a scroll bar and line on the left without video_background and video_container-->
  <div class="video_container">
    <video class="video_player" src="<%= watch_path(@conn, :show, @video) %>" controls></video>

    <%= link "Back", to: video_path(@conn, :index) %>
  </div>
</div>
