.video_background{
  /* Fills the screen to cover navbar */
  background-color: black;
  min-width: 100%;
  min-height: 100%;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}

  /* Need both video_background and video_container to fill background, prevent scrollbars, and center video */

.video_container{
  background-color: black;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}

.video_player{
  /* Video as big as possible responsively */
  width: 100vw;
  height: 100vh;

  /* removes blue line around video, its the "object selected" outline */
  outline: none;
}
