<%= if zero_results?(@results) do %>
  <h1>0 Results</h1>
<% else %>
  <%= for results <- @results do %>
    <%= render MyflixWeb.CarouselView, "display.html", conn: @conn, results: results %>
  <% end %>
<% end %>
