<ul>
  <li><%= link "Home", to: user_path(@conn, :index) %></li>
  <li><%= link "Videos", to: video_path(@conn, :index) %></li>
  <li><%= if @conn.assigns[:user_signed_in?] do %>
        <%= link "Sign out", to: session_path(@conn, :delete), method: :delete %>
      <% end %></li>

</ul>
